a:hover{
    color:inherit;
}

/* Status Cards */

.row-card-img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.status-row {
    margin-top: 30px!important;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-main-container {
    width: 95%;
}

.row-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    height:80px!important;
}

.absolutivity {
    position: absolute;
    bottom: -31%;
    left: 44%;
}

.arrow-width {
    width: 30px;
    height: 40px;
}

.new {
    background-color: #E9EAEF;
    color: #203F9A;
    border: 1px solid #203F9A;
}

.pending {
    background-color: #E5F2F8;
    color: #00ADEF;
    border: 1px solid #00ADEF;
}

.active {
    background-color: #E9F0E8;
    color: #228C20;
    border: 1px solid #228C20;
}

.conclude {
    background-color: #F7E6EE;
    color: #DA0F82;
    border: 1px solid #DA0F82;
}

.to-close {
    background-color: #E5EEF5;
    color: #0370D7;
    border: 1px solid #0370D7;
}

.unpaid {
    background-color: #EFEEF4;
    color: #9966CD;
    border: 1px solid #9966CD;
}

.new-active {
    background-color: #203F9A !important;
    color: white !important;
}

.pending-active {
    background-color: #00ADEF !important;
    color: white !important;
}

.active-active {
    background-color: #228C20 !important;
    color: white !important;
}

.conclude-active {
    background-color: #DA0F82 !important;
    color: white !important;
}

.to-close-active {
    background-color: #0370D7 !important;
    color: white !important;
}

.unpaid-active {
    background-color: #9966CD !important;
    color: white !important;
}

h4 {
    margin: 0px;
}

.type_no_txt {
    margin-top: 5px !important;
}


/* Patient Heading and links */
.patients-text {
    font-size: 18px;
    font-weight: 500;
}

.status-text {
    font-size: 16px;
    color: #203F9A;
    margin-left: 3px;
}

.inner-pt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Filter Section */
.bottom-main-container {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.1px 0.1px 18px -13px black;
}

.filter-section {
    padding: 20px;
}

.search-inp {
    border: none;
    outline: none;
    color: #999;
    width: 90%;
}

.search:first-child {
    margin-right: 15px;
}

.search {
    padding: 10px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 250px;
    display: inline-block;
}

::placeholder {
    font-family: 'Roboto',sans-serif;
}

.inner-filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.request-filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.req-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.patient-color {
    background-color: #5FBC61;
}

.family-color {
    background-color: #ED9124;
}

.business-color {
    background-color: #CD6C7D;
}

.concierge-color {
    background-color: #037EB9;
}

.patient td{
    background-color: #5FBC61!important;
}

.family td {
    background-color: #ED9124 !important;
}

.business td {
    background-color: #CD6C7D !important;
}

.concierge td {
    background-color: #037EB9 !important;
}

/* Table */

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info {
    display: none;
}

.dataTables_length{
    margin-left:20px;
    margin-bottom:20px;
}

.dataTables_filter {
    display: none;
}

.dataTables_info {
    display: none;
}

th {
    background-color: #F0F0F0 !important;
    border-bottom: none !important;
    font-weight: 500 !important;
}

td {
    border-bottom: 1px solid #dee2e6;
    position: relative;
    color: white !important;
    font-weight: 300;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after {
    display: none !important;
}

.filter-active {
    border: 1px solid #dee2e6;
}

.img-container {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.phone-container {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    text-decoration:none;
    cursor:pointer;
}

#dtBasicExample_paginate {
    margin-top: 10px;
    margin-bottom: 15px;
}

.phone-outer-container {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-size: 14px;
    display: inline-block;
}

.table {
    margin-bottom: 10px;
}

.action-btn {
    color: white;
    padding: 5px;
    border: 1px solid white !important;
    border-radius: 5px;
}

.action-btn:focus{
    box-shadow:none!important;
}

.action-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.action-img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.dropdown-item:hover {
    background-color: #E0E0E0 !important;
}
.dropdown-item:active {
    color:black;
    background-color:white;
}

/* Accordion */

.accordion-button {
    align-items: flex-start;
}

.accordion-button::after {
    width: 0px;
}

.accordion {
    --bs-accordion-bg: #EBFAFD;
    --bs-accordion-active-bg: #DAE8EB;
    --bs-accordion-active-color: black;
    box-shadow: none;
    display: none;
    z-index: -1;
}

.accordion-collapse {
    position: relative;
}

.collapse {
    background-color: var(--bs-accordion-active-bg);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border-bottom: 1px solid #D7DCDD;
    background-color: #EBFAFD;
    z-index: -1;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-bottom: 1px solid #D5DEE0;
}

.accordion-body {
    background-color: var(--bs-accordion-active-bg);
}

.accordion-heading {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 14px;
}

.accordion-value {
    font-weight: 400;
}

.accordion-img {
    margin-right: 5px;
}

.accordion-heading-inner {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 14px;
}

.accordion-value-inner {
    font-weight: 400;
}

.accordion-img-inner {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.accordion-top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .accordion-top-flex:last-child {
        margin-top: 10px;
    }

.accordion-requestor {
    margin-right: 5px;
}

.accordion-button {
    flex-direction: column;
}

.mob-address {
    width: 40%;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.req-accordion-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.map-btn {
    color: #00ADEF;
    border: 1px solid #00ADEF;
    padding: 10px 20px;
    border-radius: 20px;
}

    .map-btn:hover {
        color: #00ADEF;
    }

.outer-img-circle {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #00ADEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.inner-img {
    width: 9px;
    height: 9px;
}

.inner-flex {
    display: flex;
    margin-bottom: 10px;
}

.view-case-btn {
    position: absolute;
    top: -25px;
    right: 19px;
    z-index: 3;
    background-color: #EFEEF4;
    color: #9966CD;
    border: 1px solid #9966CD;
    cursor:pointer;
}

    .view-case-btn:hover {
        color: #9966CD;
    }

.action-mob-btn {
    background-color: #228C20;
    color: white;
    border: 1px solid #228C20;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    min-width: 55px;
    cursor: pointer;
}

.map-abs-btn {
    position: absolute;
    top: 44px;
    right: 17px;
}

.accordion-button{
    position:relative;
}

/*Loader*/

.loader-container{
    width:100%;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #00ADEF;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Cancellation - Modal */
.modal-header {
    font-size: 1.0rem;
    font-family: 'Roboto',sans-serif;
    background-color: #0dcaf0;
    color: white;
    width: 100%;
}

.cross-btn {
    font-size: 20px;
    cursor: pointer;
}

.continue-btn {
    color: white !important;
    font-size: 0.8rem;
}

.cancel-btn {
    font-size: 0.8rem;
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0;
}

.btn-check:active + .btn-info:focus, .btn-check:checked + .btn-info:focus, .btn-info.active:focus, .btn-info:active:focus, .show > .btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}

.cancel-btn:hover {
    border: 1px solid #0dcaf0;
}

.create-request-active {
    background-color: #0dcaf0 !important;
    color: white !important;
}

.modal-head {
    color: #3E3E3E;
    font-size: 1.0em;
}

.modal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.common-btn {
    margin-left: 15px;
}

a:hover {
    color: inherit;
}

.document:hover, .document-mob:hover, .logout:hover {
    color: #0dcaf0;
}

.lower-btn {
    margin-top: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.continue-btn {
    margin-right: 10px;
}

.modal-head {
    color: black !important;
}

.pt-name {
    color: #0dcaf0;
}

.option-modal {
    color: #adadad;
}

.select {
    color: #adadad;
    font-size: 14px;
}

.modal-body .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 0.625rem;
}

.symptoms-textarea {
    margin-top: 10px;
}

.form-label {
    color: #adadad;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
    z-index: 0 !important;
}

.form-control {
    height: 50px !important;
}

    .form-control:focus {
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        border-color: #0dcaf0;
        outline: 0;
        box-shadow: none;
    }

.form-floating > label {
    top: -5px;
    left: 13px;
}

.modal-body .form-floating > label {
    left: 0px;
}

.modal-body .form-floating {
    width: 100%;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-select ~ label {
    font-family: "Roboto", sans-serif;
    color: #0dcaf0;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:not(:placeholder-shown) ~ .dob-label {
    font-weight: 400;
}

.dob:focus .form-floating > .form-control-plaintext ~ .dob-label,
.form-floating > .form-control:focus ~ .dob-label,
.form-floating > .form-control:not(:placeholder-shown) ~ .dob-label,
.form-floating > .form-select ~ .dob-label {
    font-family: "Roboto", sans-serif;
    color: #adadad;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .select:not(:placeholder-shown) {
    padding-top: 1.45rem!important;
}


.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    min-height: 0px;
}

.text-area {
    height: 100px !important;
    margin-bottom: 10px;
}

input[type="date" i] {
    font-family: 'Roboto', sans-serif;
}

.iti {
    width: 100%;
    z-index: 1;
}

.notes-text > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem !important;
}

.assign-transfer-modal
{
    padding:0px!important;
}
/*Agreement Modal*/
.agreement-type-font {
    font-size: 16px;
}

.disclaimer-agreement-font{
    font-size:13px;
    padding:10px;
}
.physician-assign {
    color: #adadad;
}

/*Clear Modal*/
.clear-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    width: 450px;
    height: 400px;*/
}

.location-modal {
    padding: 0px !important;
}

.clear-modal-body {/*
    width: 95% !important;
    height: 85% !important;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.information-heading {
    font-size: 23px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #3E3E3E;
    width: 100%;
    text-align: center;
}

.information-data {
    color: #ADADAD;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.exclamation-img {
    width: 69px;
    /* margin-bottom: 42px; */
}

.clear-modal-dialog-centered {
    justify-content: center;
}

.clear-btn{
    margin-right:5px;
    color:white;
}

.clear-btn:active {
    color: white!important;
}

.cancel-clear-btn{
    font-size:inherit;
}

.outer-border {
    position: relative;
    padding: 6px;
    width: 70px;
    height: 70px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #F2AF00;
    border-radius: 50%;
}

.clear-btn:hover{
    color:white;
}

.pagination a{
    padding:7px 15px;
}

.pagination{
    justify-content:flex-end;
    margin-right:10px;
}

.pagination-active{
    color:white;
    background-color:#0dcaf0;
}

.pagination-active:hover {
    color: white;
}

.accordion
{
    margin-bottom:10px;
}

.dropdown-item:focus, .dropdown-item:hover {
    --bs-dropdown-link-hover-color: black;
}

.status-doctor-btn{
    width:100px;
    height:40px;
    border-radius:2px;
    background-color:#0dcaf0;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    cursor:pointer;
}

.finalize-encounter-download {
    padding: 10px;
}

.form-floating > .select-cancel-case:not(:placeholder-shown) {
    padding-top: 1rem !important;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width:1155px) {
    .row-card-img {
        width: 15px;
        height: 15px;
    }

    .row-cards {
        padding: 10px 15px;
    }

    .row-card-text {
        font-size: 14px;
    }

    .inner-filter-flex {
        flex-direction: column;
    }

    .search-flex {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }

    .search {
        width: 50%;
    }
}

@media screen and (max-width:1180px) {
    #dtBasicExample {
        display: none;
    }

    #dtBasicExample_paginate {
        display: none;
    }

    .accordion {
        display: block;
    }
}

@media screen and (max-width:550px) {
    .search-flex {
        flex-direction: column;
    }

    .search {
        width: 100%;
    }

        .search:first-child {
            margin-bottom: 10px;
        }

    .patient-text-btn {
        padding: 5px 8px;
    }

    .request-filter {
        width: 100%;
    }

    .req-filter {
        flex-direction: column;
        padding: 5px;
    }

        .req-filter:first-child {
            display: none;
        }

    .requestor-type {
        font-size: 14px;
    }

    .accordion-value {
        font-size: 14px;
    }

    .map-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
    .information-heading{
        font-size:20px;
    }
    .information-data{
        font-size:13px;
    }
}


@media screen and (max-width:425px) {
    .patient-text-btn {
        padding: 4px;
    }
}

@media screen and (max-width:476px) {
    .row-card-img {
        display: none;
    }

    .row-cards {
        padding: 10px 15px;
    }

    .row-card-text {
        font-size: 14px;
    }

    .absolutivity {
        display: none;
    }

    .row-cards {
        border-radius: 0px;
        justify-content: center;
        align-items: center;
    }

    .row-card-text {
        font-size: 12px;
    }
}

@media screen and (max-width:345px) {
    .row-card-text {
        font-size: 10px;
    }

    .action-mob-btn {
        font-size: 14px;
    }
}
