.symptoms-textarea
{
    width:100%;
    margin-top:0px;
}

.flex-container{
    width:95%;
}

.inner-pt-container{
    justify-content:center;
}

.filter-section {
    padding: 10px;
}

.reset-btn{
    height:auto;
}

.back-btn {
    margin-top: 0px !important;
    display: inline-block;
}
.back-text
{
    margin-right:0px;
}

th,td{
    text-align:left;
}

th:last-child {
    text-align: center;
}

.encounter-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-btn{
    margin-top:0px;
    margin-bottom:5px;
}

/*Patient Record*/
.action-record-btn{
    background-color:white;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td{
    height:50px;
}

.outer-img-circle {
    color: #0dcaf0;
}

.logout-text {
    font-size: 12px;
    color: #0dcaf0;
}

a.document-mob {
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
}

.document-count{
    margin-right:4px;
}

th:last-child{
    text-align:left;
}

/*block history*/

.tick-color{
    color:black;
}