* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto',sans-serif;
    background-color: #FAFAFA;
    margin: 0px;
}

/* Navbar */


.moon {
    padding: 5px;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    width: 31px;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background-color: white;
  }
  
  .logo {
    width: 140px;
    height: 80px;
    margin-left: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 3px -8px 17px 1px black;
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }

  .nav-cover {
    width: 100%;
    height: 96px;
  }

  /* Main Content */

  .main-container {
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-container {
    width: 90%;
    height: 70%;
  }

  .back-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0dcaf0;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #0dcaf0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .back-text {
    margin-right: 3px;
    font-size: 13px;
  }

  .top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  .submit-text {
    font-weight: 500;
    font-size: 20px;
  }

  .main-form {
    /* padding: 10px; */
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 18px -13px black;
  }

  .upper-text {
    font-size: 16px;
    font-weight: 500;
  }

  .symptoms-textarea {
    margin-top: 10px;
  }

  .form-label {
    color: #adadad;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
    z-index: 0!important;
  }

  .form-control {
    height: 50px!important;
  }
  
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #adadad;
    outline: 0;
    box-shadow: none;
  }

  .form-floating>label {
    top: -5px;
    left: 13px;
  }
  
  .form-floating > .form-control-plaintext ~ label,
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label,
  .form-floating > .form-select ~ label {
    font-family: "Roboto", sans-serif;
    color: #adadad;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    min-height: 0px;
  }

  .text-area {
    height: 100px!important;
  }

  input[type="date" i] {
    font-family: 'Roboto',sans-serif;
  }
  .iti {
    width: 100%;
  }

  .location{
    width: 85px;
    height: 50px;
    margin-left: 12px;
    border-radius: 0.375rem;
    border: 1px solid #0dcaf0;
    background: transparent;
    color: #0dcaf0
  }

  .upload-form {
    flex-basis: 90%;
  }

  .file-upload {
    display: flex;
  }

  input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0dcaf0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    flex-basis: 10%;
    height: 36px;
    border: 1px solid #0dcaf0;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    cursor: pointer;
}

.file-upload-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.form-floating>.upload-label {
  top: 8px;
  left: 1px;
}

.lower-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lower-custom-btn {
  width: 83px;
  padding: 7px 7px;
  border: 1px solid #0dcaf0;
  font-family: 'Roboto',sans-serif;
  /* font-weight: 500; */
  border-radius: 6px;
  font-size: 13px;
  margin-top: 20px;
}

.submit-btn {
  background-color: #0dcaf0;
  color: white;
  margin-right: 10px;
}

.cancel-btn {
  background-color: white;
  color: #0dcaf0;
  margin-right: 10px;
}