* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
}

.nav-below-container{
  width: 100%;
  height: 76px;
}

/* Navbar - Top */

.moon {
    padding: 5px;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    width: 31px;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background-color: white;
  }

  .logout-mob {
    /* padding: 5px; */
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    width: 31px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background-color: white;
    display: none;
    text-decoration: none;
  }

  .logout {
    padding: 5px 10px;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    width: 52px;
    justify-content: center;
    align-items: center;
    /* margin-right: 13px; */
    background-color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    color: #0dcaf0;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .logo {
    width: 140px;
    height: 75px;
    margin-left: 20px;
  }
  
  .navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* box-shadow: 3px -8px 17px 1px black; */
    border-bottom: 1px solid #3E3E3E;
    z-index: 2;
  }
  
  .hidden {
    display: none;
  }
  
  .nav-cover {
    width: 100%;
    height: 96px;
  }

  .right-side-elements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-text {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #ADADAD;
    font-weight: 400;
    margin-right: 10px;
  }

  .name-text {
    font-size: 17px;
    color: #3E3E3E;
    font-weight: 500;
  }

  .logout-text {
    font-size: 12px;
  }


  /* Navbar - Below */

  
.navbar {
  padding: 0px;
  background-color: white!important;
  box-shadow: 3px -8px 17px 1px black;
}

  .list-border {
    width: 31px;
    height: 30px;
    border: 1px solid #0dcaf0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 9px;
    left: 10px;
    z-index: 2;
  }

  .tab {
    overflow: hidden;
    margin-left: 20px;
    border-bottom: 1px solid #ADADAD;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ADADAD;
    border: 0px!important;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 15px;
}

.tab button:hover {
    color: #0dcaf0;
    border-bottom: 2px solid #0dcaf0;
    font-weight: 500;
}

.tab button.active {
    color: #0dcaf0;
    border-bottom: 2px solid #0dcaf0;
    font-weight: 500;
}

.tabcontent {
    display: none;
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 6px 12px;
    border-top: none;
}

.tab-main {
    width: 80%;
    margin-top: 1%;
}

/* Main - Content */


.tabcontent {
  height: 80vh;
  margin-top: 40px;
  margin-left: 20px;
}

.main-heading {
  font-weight: 500;
  font-size: 19px;
}

.tablinks {
  color: #3E3E3E;
}

.main-content {
  background-color: white;
  box-shadow: 0.1px 0.1px 18px -13px black;
  padding: 10px;
  border-radius: 10px;
}

.create-request {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-request-btn {
  padding: 5px 10px;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    font-size: 13px!important;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    color: #0dcaf0;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.create-request-btn-mob {
  border: 1px solid #0dcaf0;
    border-radius: 5px;
    display: flex;
    width: 31px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background-color: white;
    display: none;
    text-decoration: none;
}

  @media screen and (max-width:769px){
    .tabcontent {
      margin-left: 0;
    }
  }

  
  @media screen and (max-width: 460px) {
    .logout {
      display: none;
    }
    .welcome-text {
      display: none;
    }
    .logout-mob {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      width: 102px;
      height: 53px;
      margin-left: 45px;
    }
    .create-request-btn {
      display: none;
    }
    .create-request-btn-mob {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
    }
    .tabcontent {
      margin-top: 20px;
    }
    .nav-below-container {
      height: 54px;
    }
  }